.container {
  height: 100dvh;
  font-family: monospace;
  display: grid;
  position: relative;
  margin: auto;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
  grid-template-areas: 
   "nav nav nav"
   "main main main"
   "project1 project2 project3"
   "footer footer footer"
}

nav {
  background-color: orange;
  border-radius: 15px;
  grid-area: nav;
  text-align: center;
  padding-top: 10px;
}

main {
  background-color: blue;
  border-radius: 15px;
  grid-area: main;
  text-align: center;
  padding-top: 10px;
}

#project1 {
  background-color: green;
  border-radius: 15px;
  grid-area: project1;
  text-align: center;
  padding-top: 10px;
}

#project2 {
  background-color: gray;
  border-radius: 15px;
  grid-area: project2;
  text-align: center;
  padding-top: 10px;
}

#project3 {
  background-color: purple;
  border-radius: 15px;
  grid-area: project3;
  text-align: center;
  padding-top: 10px;
}

footer {
  background-color: aqua;
  border-radius: 15px;
  grid-area: footer;
  text-align: center;
  padding-top: 10px;
}
